@{
    ViewData["Title"] = "Home Page";
}

<div class="home-gif" style="text-align:center" >
   <div class="text-danger"> <h1>This is the HOMEPAGE of finalizer</h1>
    <a asp-controller="shop" asp-action="index" class="text-danger">Shop Now</a>
    <a asp-controller="quiz" asp-action="index" class="text-primary">Take Our Quiz!</a>
    </div>
</div>
