@using Microsoft.AspNetCore.Identity
@using Finalizer.Data
@inject SignInManager<RegisteredUser> SignInManager
@inject UserManager<RegisteredUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div style="text-align:center">
        
        <div class="gridlayout">
            <div class="box1 boxPath">
                <img src="~/images/es355home.png" class="img-fluid">
                <h1>ARE YOU READY TO ROCK?</h1>
                <div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="shop" asp-action="index" class="text-dark">Shop Now</a>
                    }
                    else
                    {
                        <a asp-controller="quiz" asp-action="index" class="text-dark">Take Our Quiz!</a>
                    }
                </div>
            </div>
            <div class="box2">
                <img class="img-fluid homeZ" src="~/images/es355homeSKELV2.png">
                
            </div>
          
        </div>
    </div>
</body>
