@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
@Html.ValidationSummary(false);
@if (this.ViewContext.ModelState.Select(x => x.Value.Errors).Count() > 0)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}



<form method="post">
    <div class="form-group">
        <label asp-for="ContactEmail"></label>
        <input type="email" asp-for="ContactEmail" placeholder="emailname@domain.com" required class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ContactName"></label>
        <input type="text" asp-for="ContactName" placeholder="John Doe" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ContactPhoneNumber"></label>
        <input type="tel" asp-for="ContactPhoneNumber" placeholder="000-000-0000" required class="form-control" />
    </div>

    <input type="submit" value="Place Order" class="btn btn-block btn-primary" />

</form>