/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: 'Nunito', sans-serif;
    
}
#home-nav:hover{
    background:white;
}

body {
   margin:0px;
   padding:0px;
   min-height:100vh;
}
.btn-link{
    color:grey;
}

.cardG{
    border:none;
    //max-width:22vw;
  }
.cardQ {
    border: none;
    max-width: 82vw;
}

.card-img-top{
    //max-width:22vw;
}

.container-fluid{
    margin-right:0px;
    margin-left:0px;
    padding:0px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.box2 {
    height: 100%;
    /*width: 80vw;*/
   
    grid-row-start: 1;
    grid-column-start: 1;
    top: 27vh;
    /*left:10vw;*/
}
.box1 {
    height: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 10;
    content: '';
    height: 100%;
    /*width: 80vw;*/
    /*background-color: cyan;*/
    opacity: 0;
    top: 27vh;
    mix-blend-mode: lighten;
    transition: all 800ms ease-in-out;
   
}
    .boxPath {
    //-webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
    text-decoration:none;
   
    }
    .boxPath:hover {
     //-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
      opacity:.9;
      background:radial-gradient(red,orange,yellow,white);
      text-decoration:solid;
     
    }
    .boxPath2 {
    //-webkit-clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
    max-height:75%;
    text-decoration: none;
}

    .boxPath2:hover {
        //-webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
        opacity: .99;
        background:transparent;
        text-decoration: solid;
    }
    
    

    /* Carousel */
    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }
    /* Make .svg files in the carousel display properly in older browsers */
    .carousel-inner .item img[src$=".svg"] {
        width: 100%;
    }
    /* QR code generator */
    #qrCode {
        margin: 15px;
    }
    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
        display: none;
    }
   
}
.homeZ {
    z-index:11;      

 }
h2 {
    text-indent: 8vw;
    background: repeating-linear-gradient(to right,black,grey,white);
    position:sticky;
    top:9vh;
    z-index:50;
    
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 16px;
    }
}
.form-control:focus {
    box-shadow: none;
    border-color: darkgrey;
    outline:1rem;
}
.gridlayout {
    display: grid;
    grid-template-columns: 1fr;
}
.index-layout-style {
    display: inline-block;
    width: -webkit-fill-available;
    margin:0px;
}
.postFormat {
    margin-right:5px;
    margin-left: 5px;
}
.logo{
    top:2vh;
    max-height:6.5vh;
    
  }
.searchBTN{
    padding:0px;
}
/*test purposes
.shape {
    width: 150px;
    height: 150px;
    margin: 30px auto;
    background: rgba(0,160,250, .6);
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    line-height: 150px;
    text-align: center;
    color: #eee;
    transition: all 500ms ease-out;
}
.polygon {
    -webkit-clip-path: polygon(
    /* X and Y points */
    0 30%, 30% 0, 70% 0, 100% 70%, 70% 100%, 0 100% );
}

    /*.polygon:hover {
        -webkit-clip-path: polygon(
        /* X and Y points */
        0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 0 100% );
    }*/
