@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area for CART.</p>
<a asp-action="index" asp-controller="shop">Go Shop some more</a>
<a asp-action="index" asp-controller="checkout">Proceed to Checkout</a>